//- index.pug
extends layout.pug

block content
    h3 Contacts
    hr

    table(class='table table-striped')
        thead
            tr
                th #
                th Name

        tbody

            each val, index in contacts
                tr
                    td #{index + 1}
                    td
                        a(href='/view?id=' + val.id) #{val.contact_name}
