//- index.pug
extends layout.pug

block content
    h1= "Phonebook"
    hr
    a(href='/add')  Add new number

    div
    h3 Contacts
    hr

    table
        thead
            tr
                th #
                th Name

        tbody

            each val, index in contacts
                tr
                    td #{index + 1}
                    td
                        a(href='/view?id=' + val.id) #{val.contact_name}
