//- error.pug
extends layout.pug

block content
    div(class='text-center mt-4')
        h1 Yayy!

        hr

        p #{msg}

        a(
            href='/view?id=' + contactID
            class='btn btn-primary mt-4'
        ) view