//- view.pug
extends layout.pug

block content
    h6 Contact details
    h1(class='mt-4 mb-4') #{name}

    table(class='table table-striped')
        thead
            tr
                th #
                th Number
        tbody
            each val, index in numbers
                tr
                    th #{index + 1}
                    th #{val.contact_number}
