//- view.pug
extends layout.pug

block content
    h6 Contact details
    h1 #{name}

    table(class='table table-striped')
        tbody
            each val in numbers
                tr
                    th #{val.contact_number}
